<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title routerDirection = "back">Nueva receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-grid class="gridGlob">
    <ion-row>
    <ion-col class="colImagen">
      <ion-card style="width: 30%; max-height: 55%;background-color: white;">
        <ion-card-header>Imagen:</ion-card-header>
        <ion-card-content>
          <ion-label color="danger " *ngIf = "errorImagen">El archivo seleccionado no es una imágen.</ion-label><br/>
          <input type="file" accept="image/*" (change)="detectarArchivo($event)"/>
          <ion-img *ngIf="url" [src]="url" src="" style="width: fit-content;height: fit-content; margin-top: 2%;"></ion-img>
        </ion-card-content>
      </ion-card>
      <ion-button color="success" class="anadir" style="margin-left: 2%;" (click)="anadir()">Añadir Receta</ion-button>
      <ion-button color="danger" class="anadir" style="margin-left: 4%;" [routerLink] = "['/recetas']">Cancelar</ion-button>
    </ion-col>
    <ion-col class="colDesc">
      <ion-card>
        <ion-card class="receta">
          <ion-card-content>
            <ion-label color="danger " *ngIf = "errorTitle">Tiene que introducir el nombre de la receta.</ion-label><br/>
            <ion-label style="margin-bottom: 2%;">Título:</ion-label><br/>
            <input type="text" style="margin-bottom: 2%;" [(ngModel)] = "titulo"/><br/>
            <ion-label style="margin-bottom: 2%;">Propiedades:</ion-label><br/>
            <input type="checkbox" class="prop" id="vegan" [(ngModel)]="vegan"/> Vegana
            <input type="checkbox" class="prop" id="vegie" [(ngModel)]="vegie"/> Vegetariana
            <input type="checkbox" class="prop" id="fishFree" [(ngModel)]="fishFree"/> Sin pescado
            <input type="checkbox" class="prop" id="glutenFree" [(ngModel)]="glutenFree"/> Sin gluten
            <input type="checkbox" class="prop" id="sugarFree" [(ngModel)]="sugarFree"/> Sin azúcar
            <input type="checkbox" class="prop" id="saltFree" [(ngModel)]="saltFree"/> Sin sal
            <br/>
            <ion-label color="danger " *ngIf = "errorDesc">Tiene que introducir la manera de realizar la receta.</ion-label><br/>
            <ion-label >Descripción:</ion-label><br/>
            <textarea [(ngModel)] = "descripcion"></textarea>
          </ion-card-content>
        </ion-card>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
