ion-checkbox{
    margin-right: 10px;
    margin-top: 10px;
}
ion-label{
    margin-top: 10px;
}



.gridGlob{
    --ion-background-color: white;
    width: 100%;
    height: 100%;    
}   


.receta{
    margin-left: 25%;
    width: 1000px;
    height: 200px;
}

.anadir{
    margin-left: 1%;
}

.titFil{
    margin-top: -20px;
    height: 70px;
}