

<ion-content class="fondo">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="margin-top: 120px;">
          <ion-card-title > 
            Desayuno
          </ion-card-title>
        </ion-card>
        <ion-card style="margin-top: 170px;">
          <ion-card-title>
            Comida
          </ion-card-title>
        </ion-card>
        <ion-card style="margin-top: 170px;">
          <ion-card-title>
            Merienda
          </ion-card-title>
        </ion-card>
        <ion-card style="margin-top: 170px;">
          <ion-card-title>
            Cena
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="height: fit-content;">
          <ion-card-title>Lunes</ion-card-title>
          <ion-card class="carta-comida" *ngFor="let receta of lunes" (click)="pinchaReceta(receta.id)">
            <ion-card-title class="titulo-comida" >
              <ion-label>{{receta.titulo}}</ion-label>
            </ion-card-title>
            <ion-card-content><ion-img [src]="receta.foto"></ion-img></ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Martes</ion-card-title>
          <ion-card class="carta-comida" *ngFor="let receta of martes" (click)="pinchaReceta(receta.id)">
            <ion-card-title class="titulo-comida" >
              <ion-label>{{receta.titulo}}</ion-label>
            </ion-card-title>
            <ion-card-content><ion-img [src]="receta.foto"></ion-img></ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Miércoles</ion-card-title>
          <ion-card class="carta-comida" *ngFor="let receta of miercoles" (click)="pinchaReceta(receta.id)">
            <ion-card-title class="titulo-comida" >
              <ion-label>{{receta.titulo}}</ion-label>
            </ion-card-title>
            <ion-card-content><ion-img [src]="receta.foto"></ion-img></ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Jueves</ion-card-title>
          <ion-card class="carta-comida" *ngFor="let receta of jueves" (click)="pinchaReceta(receta.id)">
            <ion-card-title class="titulo-comida" >
              <ion-label>{{receta.titulo}}</ion-label>
            </ion-card-title>
            <ion-card-content><ion-img [src]="receta.foto"></ion-img></ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Viernes</ion-card-title>
          <ion-card class="carta-comida" *ngFor="let receta of viernes" (click)="pinchaReceta(receta.id)">
            <ion-card-title class="titulo-comida" >
              <ion-label>{{receta.titulo}}</ion-label>
            </ion-card-title>
            <ion-card-content><ion-img [src]="receta.foto"></ion-img></ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Sábado</ion-card-title>
          <ion-card class="carta-comida" *ngFor="let receta of sabado" (click)="pinchaReceta(receta.id)">
            <ion-card-title class="titulo-comida" >
              <ion-label>{{receta.titulo}}</ion-label>
            </ion-card-title>
            <ion-card-content><ion-img [src]="receta.foto"></ion-img></ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title>Domingo</ion-card-title>
          <ion-card class="carta-comida" *ngFor="let receta of domingo" (click)="pinchaReceta(receta.id)">
            <ion-card-title class="titulo-comida" >
              <ion-label>{{receta.titulo}}</ion-label>
            </ion-card-title>
            <ion-card-content><ion-img [src]="receta.foto"></ion-img></ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
