

.gridGlob{
    --ion-background-color: white;
    width: 100%;
    height: 100%;    
}   

.colImagen{
    margin-right: -600px;
    margin-top: 50px;
    margin-left: 2%;
}

.colDesc{
    margin-right: 5%;
}

